html {
  background-color: white;
  font-family: Helvetica;
  font-size: 18px;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
}

.flex {
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Header */

header {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: .67em 0;
}

nav {
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  padding-right: 1rem;
  align-items: center;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

ul {
  margin-right: 1rem;
}

.truncated-menu {
  display: none;
}

header .flex {
  justify-content: flex-end;
}

.main-banner {
  background-color: white;
  padding: 0.75rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  line-height: 2.4rem;
}

/* Main */

/* Sections  */

/* Icon section  */

.icons {
  display: flex;
  justify-content: center;
}

.icons img {
  width: 3.5rem;
  height: auto;
}

section {
  display: flex;
  width: 100%;
  height: auto;
  align-items: flex-start;
  flex-direction: column;
}

/* Info section  */

.graphs {
  display: flex;
  width: 35%;
  height: auto;
  margin-right: 5%;
  flex-direction: row;
  justify-content: center;
}

footer .flex {
  padding: 4rem 2rem;
  background-color: azure;
  align-items: center;
  flex-direction: row;
}

footer img {
  height: 1.5rem;
}