html {
  width      : 100%;
  font-family: Helvetica;
  font-size  : 18px;
  line-height: 1.4;
  margin     : 0;
}

.container {
  width : 960px;
  margin: 0 auto;
}

a {
  color          : white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  display         : flex;
  height          : 30rem;
  background-image: url("../images/glasses-bg.png");
  background-size : cover;
  font-style      : 1rem;
  flex-direction  : column;
}

.logo {
  display         : flex;
  margin-top      : 1rem;
  color           : white;
  background-color: cadetblue;
  flex-flow       : row nowrap;
  justify-content : space-between;
}

nav {
  display: inline-block;
}

.main-banner {
  display         : flex;
  position        : relative;
  margin-top      : 10rem;
  margin-right    : -2rem;
  padding         : 1.5rem 5rem;
  background-color: white;
  font-size       : 2rem;
  font-weight     : bold;
  justify-content : flex-end;
  line-height     : 1.2;
  float           : right;
}

h2 {
  color           : white;
  background-color: cadetblue;
  font-style      : 1rem;
  font-weight     : bold;
}

main {
  background-color: #fff;
}

main ul {
  display: flex;
}

main li {
  display       : flex;
  flex-direction: column;
}

footer {
  display         : flex;
  background-color: azure;
  align-items     : center;
  flex-direction  : row;
}